{% extends "accounts/auth_base.html" %}

{% block title %}Password changed · Candidflow{% endblock %}
{% block aside_heading %}All set{% endblock %}
{% block aside_text %}Your password has been changed. Use it next time you log in.{% endblock %}
{% block aside_points %}
    <li><i data-lucide="check-circle-2"></i> The old password no longer works</li>
    <li><i data-lucide="shield-check"></i> Reset links you were sent are now dead</li>
{% endblock %}

{% block panel %}
<h1>Password changed</h1>
<p class="lede">You can log in with your new password now.</p>
<a href="{% url 'login' %}" class="btn btn-primary">Go to log in</a>
{% endblock %}
