{% extends "base.html" %}

{% block title %}{% if object %}Edit Application{% else %}Create Application{% endif %}{% endblock %}

{% block content %}

<div class="page-head">
    {% if object %}
        <h1>Edit Application</h1>
    {% else %}
        <h1>Create Application</h1>
    {% endif %}
</div>

<div class="panel">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="actions-bar">
            <button type="submit" class="btn-primary">Save Application</button>
            <a href="{% url 'application-list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}
